<%#  <header>
    <nav>
        <a href="/">Miniature Battle Systems Guide</a>
        <ul>
            <li><a href="/render/battle-systems">All battle systems</a></li>
            <li><a href="/render/battle-systems/">New battle system</a></li>
        </ul>
    </nav>
</header>
%>