<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle system project</title>
</head>
<body>
    <%- body %>
    <%- include('../partials/header.ejs')%>
    
</body>
</html>