<!DOCTYPE html>
<html>
<head>
    <title><%= faction.name %></title>
</head>
<body>
    <h1><%= faction.name %></h1>
    <% if (description) { %>
        <h2>Description</h2>
        <p><%= description.text %></p>
    <% } else { %>
        <p>No description available.</p>
    <% } %>
    <a href="/factions/battle-system/<%= faction.battleSystemId %>">Back to Factions</a>
</body>
</html>